* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    font-size: 18px;
    color: black;
}

html, body, button{
    font-family: Raleway, Arial;
}

a { 
    color: inherit;
}

:root {
    --quase-preto: #111;
}

.container{
    margin: 0 auto;
    width: 90%;
    padding: 1em;
}

#whatsapp{
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
}