.navbar {
    padding: 1rem 2rem;
    background-color: black;
    justify-content: space-between;
    display: flex;
    color: white;
    gap: 5rem;
}

.navbar .fa-phone {
    font-size: 1.2rem;
    margin-right: 10px;
}

.navbar ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    list-style: none; 
}

.navbar ul li {
    flex-grow: 1;
    text-align: right;
}

.navbar li a {
    transition: 0.5s;
    text-decoration-color: transparent;
}

.navbar li a:hover {
    color: orange;
}

.navbar img {
    height: 50px;
}

.navbar ul button {
    transition: 0.5s;
    border: solid 3px white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1rem;
}

.navbar ul button:hover {
    background-color: black;
    border: solid 3px white;
    color: white;
    cursor: pointer;
}

.navbar .sidebar-botao {
    display: none;
}


.navbar .sidebar-botao button {
    font-size: 2.5em;
    cursor: pointer;
    background-color:white;
    border: solid white;
    border-radius: 10px;
}
  
.navbar .sidebar-botao button:hover {
    background-color: black;
    color: white;
}


@media (max-width: 992px) {
    .navbar ul{
        display: none;
    }

    .navbar .sidebar-botao {
        display: initial;
    }
}